
airflow:
  image:
    repository: germanaoq/mlops-airflow
    tag: "latest"
    pullPolicy: IfNotPresent

  executor: CeleryExecutor

  config:
    celery:
      broker_url: redis://redis-master.airflow.svc.cluster.local:6379/0

postgresql:
  enabled: true

  image:
    registry: docker.io
    repository: bitnami/postgresql
    tag: latest

  auth:
    username: airflow
    password: airflowpass
    database: airflow

webserver:
  replicas: 1
  service:
    type: NodePort
    ports:
      - name: airflow-ui
        port: 8080
        nodePort: 30080  # Access Airflow UI at http://<node-ip>:30080

scheduler:
  replicas: 1

workers:
  replicas: 2
  resources:
    requests:
      cpu: "250m"
      memory: "256Mi"

logs:
  persistence:
    enabled: true
    size: 5Gi

dags:
  persistence:
    enabled: true
    size: 5Gi

gitSync:
  enabled: false
