apiVersion: v1
kind: Service
metadata:
  name: locust
  labels:
    app: locust
    component: load-testing
spec:
  type: NodePort
  selector:
    app: locust
  ports:
  - port: 8089
    targetPort: 8089
    nodePort: 30189
    protocol: TCP
    name: web

