version: "3.8"

services:
  locust:
    build: ./locust
    # The cotainer name and the ports must be delated when replicates are created
    container_name: locust
    ports:
      - "8089:8089"
    environment:
      - LOCUST_HOST=http://10.43.100.89:8080 # PUJ VM