version: "3.8"

services:
  locust:
    build: ./locust
    # The container name and the ports must be deleted when replicates are created
    container_name: locust
    ports:
      - "8089:8089"
    environment:
      # Points to Nginx load balancer which distributes across all FastAPI replicas
      - LOCUST_HOST=http://10.43.100.84:8000  # PUJ VM. Port 8000 now goes through Nginx LB
      - LOCUST_USERS=10000
      - LOCUST_SPAWN_RATE=500