apiVersion: v1
kind: Service
metadata:
  name: diabetes-api
  labels:
    app: diabetes-api
    component: inference
spec:
  type: NodePort
  selector:
    app: diabetes-api
  ports:
  - port: 8000
    targetPort: 8000
    nodePort: 30080
    protocol: TCP
    name: http

